<!DOCTYPE:html>
<html>
  <head>
    <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="/css/styling.css" rel="stylesheet" type="text/css"/>
    <title>Sports Shop</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div>
        <h2 id="brand">The Starting Line</h2>
      </div>
    </nav>
    <center>
      <br>
      <br>
      <h1 class="text">London's premier running shop is coming online!</h1>
      <h3 class="text">Until then, why not pop in and see us?</h3>
      <br>
      <br>
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['MAPS_API']%>&q=10+Creed+Ct,+London+EC4V+5EA" allowfullscreen>
      </iframe>
    </center>
  </body>
</html>