<!DOCTYPE:html>
<html>
  <head>
    <link href="/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/css/styling.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <center>
      <p>Our full website is working soon!</p>
      <p>Until then, why not pop in and see us?</p>
      <div> Map </div>
    </center>
  </body>
</html>