<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <body>
    <h1>We're not here yet....</h1>
    <h3>Our website is currently in progress. You can still visit us in the physical realm, however:<p>
      <p>Sanjay's Shinpad Warehouse,
      <p>50 Commercial Street,
      <p>London E1 6LT
      <p><a href="https://www.google.co.uk/maps/place/50+Commercial+St,+London+E1,+UK/data=!4m2!3m1!1s0x48761cb4564ea24d:0x6b69327324b2b5da?sa=X&ved=0CCAQ8gEwAGoVChMIorHUz9mUxwIVSnxyCh1kLQrk">Find us on Google Maps</a>
  </body>
</html>